body {
  background-color: aqua;
  text-align: center;
}

h3 {
  text-align: left;
}

input:focus {
  background-color: lightgrey;
}

#prenomGet {
  visibility: hidden;
}

.boutton {
  margin-right: 180px;
  margin-top: 50px;
}
